.DS_Store
node_modules/
*.log
*.tmp
*.temp
*.bak
*.old
*.orig
*.rej
*.swp
*.swo
*~
.cache/
.npm/
.nyc_output/
.vite/
coverage/
dist/
out/
*.lcov
*.tgz
*.tsbuildinfo
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.*.json
